# ? NOTE: This file is added just because this project uses pnpm as a package manager.
# ? If the project use any other package manager in future, this file can be removed.
# ? postbuld script requires this to be present.
enable-pre-post-scripts=true